:root {
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);

  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);

  --red-500: hsl(354, 63%, 57%);

  --green-500: hsl(140, 63%, 57%);

  --yellow-400: hsl(49, 85%, 70%);

  --font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
  color: var(--neutral-0);
  background-color: var(--neutral-900);
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.best-wrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1rem;
}

.best-wrapper img {
  width: 1.5rem;
}

.best-result {
  display: flex;
  gap: 0.2rem;
  color: var(--neutral-400);
}

.word-count {
  color: var(--neutral-0);
}

/*Main content*/
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.stats-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: var(--neutral-400);
  flex: 1;
}

.stats:not(:last-child) {
  border-right: 1px solid var(--neutral-800);
  padding-right: 2rem;
}

.stats span {
  color: var(--neutral-0);
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}

/*Dropdowns*/
.dropdown-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.dropdown {
  width: 100%;
  position: relative;
}

.dropdown-btn {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--neutral-500);
  border-radius: 10px;
  background: transparent;
  font-size: 1rem;
  color: var(--neutral-0);
  cursor: pointer;
  text-align: center;
}

.dropdown-btn::after {
  position: absolute;
  right: 1rem;
  content: url("../assets/images/icon-down-arrow.svg");
}

.dropdown-content {
  position: absolute;
  width: 100%;
  display: none;
  flex-direction: column;
  background-color: var(--neutral-800);
  margin-top: 0.5rem;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0px 8px 5px 5px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 8px 5px 5px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 8px 5px 5px rgba(0, 0, 0, 0.43);
}

.dropdown-content.show {
  display: flex;
}

.dropdown-content label {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-content label:not(:last-child) {
  border-bottom: 1px solid var(--neutral-500);
}

.dropdown-content input[type="radio"] {
  appearance: none;
}

.dropdown-content label:has(input[type="radio"]:checked) {
  background-color: var(--blue-600);
}

#typing-area {
  position: relative;
  max-height: 420px;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid var(--neutral-800);
  overflow: hidden;
}

.quote-container {
  font-size: 2rem;
  height: auto;
  width: 100%;
  z-index: 1;
  word-wrap: break-word;
  color: var(--neutral-500);
}

#typing-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  caret-color: transparent;
  outline: none;
}

.restart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  margin-top: 2rem;
  border-top: 2px solid var(--neutral-800);
}

#restart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border: none;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

#restart-btn::after {
  content: url("../assets/images/icon-restart.svg");
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}
